<div class="flex-center">
    <div class="cd-container">
        <img src="assets/img/dinner.png" width="120px" height="140px" class="img-avatar" alt="Connect Bazar Portal" />

        <h1 class="logo-text">
            Connect Bazar
        </h1>
        <h4> YOUR OWN GROCERY STORE</h4>


        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-container">
                <br>
                <div class="col">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">
                </div>
                <br>
                <div class="col">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                </div>
                <br>
                <div class="col div-flex">
                    <a routerLink="/changePassword" style="color: white; cursor: pointer; text-decoration: underline;">Change Password</a> &nbsp; &nbsp;
                    <a routerLink="/recover" style="color: white; cursor: pointer; text-decoration: underline;">Forgot Password</a>
                </div>
            </div>
            <br>
            <button [disabled]="!loginForm.valid" class="btn btn-danger animation-on-hover" style="width:360px" type="submit">SIGN IN</button>
        </form>
    </div>
</div>