.coupon-container {
    width: 100%;
    height: 550px;
    background-color: #27293D;
}

.coupon-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #1A6699;
    color: white;
}

.form-style {
    width: 90%;
    margin-left: 5%;
}