<div class="flex-center">
    <div routerLink='' style="color: white; font-size: 18px;" class="back-icon"><img src="assets/img/back.png" width="30" height="30"> Home</div>
    <div class="cd-container">
        <br><br>
        <h2> CHANGE PASSWORD</h2>
        <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
            <div class="form-container">
                <br>
                <div class="col">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">
                </div>
                <br>
                <div class="col">
                    <input type="password" formControlName="oldPassword" class="form-control" placeholder="Enter Old Password">
                </div>
                <br>
                <div class="col">
                    <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter New Password">
                </div>
                <br>
            </div>
            <br>
            <button [disabled]="!changeForm.valid" class="btn btn-danger animation-on-hover" style="width:360px" type="submit">CHANGE PASSWORD</button>
        </form>
    </div>
</div>