<div class="flex-center">
    <div routerLink='' style="color: white; font-size: 18px;" class="back-icon"><img src="assets/img/back.png" width="30" height="30"> Home</div>
    <div class="cd-container">
        <br><br>
        <h2> UPDATE PASSWORD</h2>
        <form *ngIf="showEmailPage" [formGroup]="emailForm" (ngSubmit)="triggerOTP()">
            <div class="form-container">
                <br>
                <p style="text-align: center;"> Enter your registered email id</p>
                <br>
                <div class="col">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <br>
            <button [disabled]="!emailForm.valid" class="btn btn-danger animation-on-hover" style="width:360px" type="submit">SEND OTP</button>
        </form>

        <form *ngIf="!showEmailPage" [formGroup]="otpForm" (ngSubmit)="updatePassword()">
            <div class="form-container">
                <br>
                <div class="col">
                    <input type="number" formControlName="otp" class="form-control" placeholder="Enter OTP">
                </div>
                <br>
                <div class="col">
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter New Password">
                </div>
                <br>
            </div>
            <br>
            <button [disabled]="!otpForm.valid" class="btn btn-danger animation-on-hover" style="width:360px" type="submit">UPDATE PASSWORD</button>
        </form>
    </div>
</div>